$font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-monospace: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;

$flow-view-font-family: $font-family;
$flow-view-font-family-mono: $font-family-monospace;
